<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Spring Fundamentos</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Spring Fundamentos - Home</a>
        </div>
    </nav>

    <main class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Olá mundo!</h1>   
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p th:text="${boasVindas}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p>Lista de aulas</p>
                <ul>
                    <li th:each="aula : ${aulas}" th:text="${aula}"></li>
                </ul>
            </div>
        </div>
    </main>

    
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>